html{
  background: #333;
}
#navigation{
  display: inline-block;
  background: #A00;
  height: 30px;
  width: 100%;
  margin: 0;
  padding: 10px 0 0 10px;
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid;
  border-radius: 2px 2px 2px 2px;
}
.navigation{
  color: #000;
}
a:hover{
  color: #444;
}
#input button{
  background: #888;
  border: solid 3px #A00;
  border-radius: 15px;
  margin: 5px;
  width: 40px;
  height: 40px;
  padding: 0;
}
#input p{
  margin: 5px 0;
  width: 100%;
}
button:hover{
  background-color: #666;
}
#displayMain{
  background: white;
  width: 184px;
  height: 100px;
  border: solid 3px #A00;
  margin: 5px;
  padding: 0;
}
#displaySub{
  text-align: right;
  background: #CCC;
  color: #000;
  width: 100%;
  height: 30px;
  margin: 0;
  font-weight: bold;
}
#displayTop{
  text-align: left;
  background: #333;
  color: #EEE;
  width: 100%;
  height: 70px;
  padding: 0;
  margin: 0;
}
#calculator{
  border: solid 2px;
  width: 200px;
  height: auto;
  position: absolute;
  top: 60px;
}
#monthly{
  margin: 45px 0 0 0;
}
#paymentWords{
  margin: 0;
  height: 17px;
  background: #CCC;
  width: 200px;
  padding: 1px 2px;
  border: 1px solid;
}
#submit{
  background: #888;
}
#schedule, #meh{
  width: 100%;
  position: relative;
}
.schedule{
  border: solid 2px black;
  height: auto;
  width: 756px;
  background: #CCC;
  color: black;
  padding: 4px 10px;
  margin: 0;
}
.info{
  border: solid 2px black;
  height: auto;
  width: 326px;
  background: #CCC;
  color: black;
  padding: 4px 10px;
  margin: 4px 0 10px 0;
}
